Source: pulseaudio-module-bluetooth
Section: sound
Priority: optional
Maintainer: Pulseaudio maintenance team <pkg-pulseaudio-devel@lists.alioth.debian.org>
Build-Depends: debhelper-compat (= 11),
    dh-exec,
    dpkg-dev (>= 1.17.14),
    libpulse-dev (>= 12.2),
    libpulse-dev (<< 12.3),
    libbluetooth-dev (>= 5.0) [linux-any],
    libsbc-dev [linux-any],
    libavcodec-dev (>= 7:4.0),
    libavutil-dev (>= 7:4.0),
    libfdk-aac-dev (>= 0.1.5),
    libsystemd-dev [linux-any],
Standards-Version: 4.2.1
Rules-Requires-Root: no
Vcs-Browser: https://github.com/EHfive/pulseaudio-modules-bt
Vcs-Git: https://github.com/EHfive/pulseaudio-modules-bt.git
Homepage: https://github.com/EHfive/pulseaudio-modules-bt

Package: pulseaudio-module-bluetooth
Architecture: linux-any
Priority: optional
Depends: ${shlibs:Depends}, ${misc:Depends}, bluez (>= 5.0)
Description: Bluetooth module for PulseAudio sound server
 A fork of pulseaudio bluetooth modules with LDAC, APTX, APTX-HD, and AAC support.
 .
 This module enables PulseAudio to work with bluetooth devices, like headset
 or audio gateway.
