#!/usr/bin/make -f

DPKG_EXPORT_BUILDFLAGS   = 1

DEB_BUILD_MAINT_OPTIONS  = hardening=+all

include /usr/share/dpkg/default.mk

word-dot                 = $(word $2, $(subst ., , $1))
PA_VERSION              := $(shell pkg-config --modversion libpulse)
PA_MAJOR                := $(call word-dot, $(PA_VERSION), 1)
PA_MINOR                := $(call word-dot, $(PA_VERSION), 2)
PA_MINOR_NEXT           := $(shell echo $$(($(PA_MINOR) + 1)))
PA_MAJORMINOR           := $(PA_MAJOR).$(PA_MINOR)
PA_MAJORMINOR_NEXT      := $(PA_MAJOR).$(PA_MINOR_NEXT)

%:
	dh $@

override_dh_makeshlibs:
	sed -e 's/PA_MAJORMINOR_NEXT/$(PA_MAJORMINOR_NEXT)/g' -e 's/PA_MAJORMINOR/$(PA_MAJORMINOR)/g' debian/shlibs.local.in > debian/shlibs.local
	dh_makeshlibs
